<div class="home_container">
    <app-card
    gameCover="assets/ac-cover.jpg"
    gamePrice="R$ 89,99"
    gameLabel="MULTI"
    gameType="DIGITAL"
    gameTrailer="https://www.youtube.com/watch?v=RjQ6ZtyXoA0"
    >
    </app-card>
    <app-card
    gameCover="assets/bt-5.jpg"
    gamePrice="R$ 199,99"
    gameLabel="MULTI"
    gameType="FISIC"
    gameTrailer="https://www.youtube.com/watch?v=fb1MR85XFOc"
    >
    </app-card>
    <app-card
    gameCover="assets/days-gone.jpg"
    gamePrice="R$ 159,99"
    gameLabel="MULTI"
    gameType="DIGITAL"
    gameTrailer="https://www.youtube.com/watch?v=qTsx64xYhPM"
    >
    </app-card>
    <app-card
    gameCover="assets/bt-1.jpg"
    gamePrice="R$ 229,99"
    gameLabel="MULTI"
    gameType="FISIC"
    gameTrailer="https://www.youtube.com/watch?v=c7nRTF2SowQ"
    >
    </app-card>
    <app-card
    gameCover="assets/cod-warzone.jpg"
    gamePrice="JOGUE DE GRAÇA"
    gameLabel="MULTI"
    gameType="FISIC"
    gameTrailer="https://www.youtube.com/watch?v=oJca6zoI50E"
    >
    </app-card>
    <app-card
    gameCover="assets/bt-hardline.jpg"
    gamePrice="R$ 119,99"
    gameLabel="MULTI"
    gameType="FISIC"
    gameTrailer="https://www.youtube.com/watch?v=VA3_KRvLRD8"
    >
    </app-card>
    <app-card
    gameCover="assets/God-ragnarok.jpg"
    gamePrice="R$ 289,99"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL"
    gameTrailer="https://www.youtube.com/watch?v=gqciogn3sUc"
    >
    </app-card>
    <app-card
    gameCover="assets/g-of-tsushima.jpg"
    gamePrice="R$ 259,99"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL"
    gameTrailer="https://www.youtube.com/watch?v=7WzKdFjRoWE"
    >
    </app-card>
</div>


