<div class="menu-bar_container">
    <div class="menu-bar_logo">
        <img 
            src="assets/ps-logo.png" 
            alt="" 
            srcset=""
            width="140px" 
            height="32px"
        >
    </div>
    <div class="menu-bar_item">
        <ul>
            <li><a href="https://www.instagram.com/ikaro_belem/" target="_blank">instagram</a></li>
            <li><a href="https://www.linkedin.com/in/ikaro-belem-5197a4252/" target="_blank">linkedin</a></li>
            <li><a href="https://github.com/Ikaro444" target="_blank">github</a></li>
        </ul>
    </div>
</div>